<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395908122574-t9idkpuc6m9a0qantokejm4bp40fm90d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395908122574-t9idkpuc6m9a0qantokejm4bp40fm90d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>395908122574-d5q5l3f4g4eosoptp6vc3qf79j91hobk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUcXnEh-aHIgsD_vqZOPpvtIepWqGhEYc</string>
	<key>GCM_SENDER_ID</key>
	<string>395908122574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meremChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-5248c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-5248c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395908122574:ios:bd7160a0a8c6252ac30d9f</string>
</dict>
</plist>